{% load static %}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
        <title>Fake crypto buyer</title>
    </head>
    <body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="fs-2">Fake crypto buyer</span>
      </a>
      <ul class="nav nav-pills">
          {% if user.is_authenticated %}
          <span class="navbar-text" style="margin-right: 50px; margin-left: 50px;">
           Hello, {{user.first_name}}
          </span>
        <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link active" aria-current="page">Logout</a></li>
          {% else %}
        <li class="nav-item"><a href="{% url 'login' %}" class="nav-link active">Login</a></li>
        <li class="nav-item"><a href="{% url 'registration' %}" class="nav-link">Registration</a></li>
          {% endif %}
      </ul>
    </header>
    </div>

        {% block user %}
        {% if user.is_authenticated %}
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 290px; float: left; margin-right: 50px;">
           <span class="fs-5" style="width: 290px;">{{user.first_name}}, your portfolio is:</span>
           <hr>
               <ul class="nav nav-pills flex-column mb-auto">
                   {% for item in user_pocket %}
                   <li class="navbar-text">
                           <b>{{ item.readable_name }} : {{ item.quantity }}</b>
                      <span style="color: green;"><br>Spend: {{ item.spend }}$</br></span>
                       <span style="color: blue;">Current cost: {{ item.total_cost }}$</span>
                   </li>
                    {% endfor %}
                   <li>
                   <a href="{% url 'buy' %}" class="nav-link link-dark"><button type="button" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"></path>
                <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"></path>
                </svg>
                Buy more
                </button></a>
                   </li>
                </ul>
            </hr>
          </div>
         {% endif %}
         {% endblock %}
    {% block content %}
    {% endblock %}
    {% block rates %}
        <div class="bd-example" style="margin-left: 20px; margin-top: 40px;">
            <b>Exchange rates:</b>
        <p class="display-1">
        <div class="row mb-3">
            {% for i in context %}
      <div class="col-md-3 themed-grid-col">1 {{ i.human_name }}</div>
            <div class="col-md-8 themed-grid-col">{{ i.cost }}$</div>
            {% endfor %}
            {% endblock %}
            </p>
    </div>
        </div>
    </body>
</html>